bin/
data/
environment_conda.yml
exe/
include/
kernel.json
lib/
prev_docs/
pyenv.cfg
sample_images/
scripts/build
share/
venv/
test.py
pyvenv.cfg

*DS_store
*.csv
*.png
*.pdf
*.svg
*.gz
*.pyc

.Rhistory
*.Rproj

*.ipynb

.python-version

constants.py
.Rproj.user
